<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>ipAddTomcat</param-name>
		<param-value>localhost:8080</param-value>
	</context-param>
	<context-param>
		<param-name>ipAddSQL</param-name>
		<param-value>localhost:3306</param-value>
	</context-param>
	<context-param>
		<param-name>DEBUG</param-name>
		<param-value>TRUE</param-value>
	</context-param>
	<servlet>
		<servlet-name>EchoServlet</servlet-name>
		<display-name>EchoServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.EchoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserActivityServlet</servlet-name>
		<display-name>UserActivityServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserActivityServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>UserArtifactGraphServlet</servlet-name>
		<display-name>UserArtifactGraphServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserArtifactGraphServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>StopCollaborationServlet</servlet-name>
		<display-name>StopCollaborationServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.StopCollaborationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartCollaborationServlet</servlet-name>
		<display-name>StartCollaborationServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.StartCollaborationServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>RegisterProjectServlet</servlet-name>
		<display-name>RegisterProjectServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.RegisterProjectServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>InitiateCollabHub</servlet-name>
		<display-name>InitiateCollabHub</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.InitiateCollabHub</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>DeRegisterProjectServlet</servlet-name>
		<display-name>DeRegisterProjectServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.DeRegisterProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getCollaboratorDetails</servlet-name>
		<display-name>getCollaboratorDetails</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.getCollaboratorDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserArtifactGrpahServlet</servlet-name>
		<display-name>UserArtifactGrpahServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserArtifactGrpahServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EchoServlet</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeRegisterProjectServlet</servlet-name>
		<url-pattern>/DeRegisterProjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getCollaboratorDetails</servlet-name>
		<url-pattern>/getCollaboratorDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitiateCollabHub</servlet-name>
		<url-pattern>/InitiateCollabHub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterProjectServlet</servlet-name>
		<url-pattern>/RegisterProjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartCollaborationServlet</servlet-name>
		<url-pattern>/StartCollaborationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopCollaborationServlet</servlet-name>
		<url-pattern>/StopCollaborationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserActivityServlet</servlet-name>
		<url-pattern>/UserActivityServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>UserArtifactGraphServlet</servlet-name>
		<url-pattern>/UserArtifactGraphServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserArtifactGrpahServlet</servlet-name>
		<url-pattern>/UserArtifactGrpahServlet</url-pattern>
	</servlet-mapping>
</web-app>
