<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>ipAddTomcat</param-name>
		<param-value>localhost:8080</param-value>
	</context-param>
	<context-param>
		<param-name>ipAddSQL</param-name>
		<param-value>localhost:3306</param-value>
	</context-param>
	<context-param>
		<param-name>DEBUG</param-name>
		<param-value>TRUE</param-value>
	</context-param>
	<servlet>
		<servlet-name>EchoServlet</servlet-name>
		<display-name>EchoServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.EchoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserActivityServlet</servlet-name>
		<display-name>UserActivityServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserActivityServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>StopCollaborationServlet</servlet-name>
		<display-name>StopCollaborationServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.StopCollaborationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartCollaborationServlet</servlet-name>
		<display-name>StartCollaborationServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.StartCollaborationServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>CompareGraphsServlet</servlet-name>
		<display-name>CompareGraphsServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.Comparator.CompareGraphsServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>RegisterProjectServlet</servlet-name>
		<display-name>RegisterProjectServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.RegisterProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConflictMessagesServlet</servlet-name>
		<display-name>ConflictMessagesServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.ConflictMessagesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDependencyGraphServlet</servlet-name>
		<display-name>CreateDependencyGraphServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.CreateDependencyGraphServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>InitiateCollabHub</servlet-name>
		<display-name>InitiateCollabHub</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.InitiateCollabHub</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>DeRegisterProjectServlet</servlet-name>
		<display-name>DeRegisterProjectServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.DeRegisterProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getCollaboratorDetails</servlet-name>
		<display-name>getCollaboratorDetails</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.getCollaboratorDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserArtifactGraphServlet</servlet-name>
		<display-name>UserArtifactGraphServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserArtifactGraphServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserArtifactGraphSimulatorServlet</servlet-name>
		<display-name>UserArtifactGraphSimulatorServlet</display-name>
		<description></description>
		<servlet-class>org.apache.collab.server.UserArtifactGraphSimulatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userDetails</servlet-name>
		<jsp-file>/userDetails.jsp</jsp-file>
	</servlet>
 	<servlet>
		<servlet-name>collabInfo</servlet-name>
		<jsp-file>/collabInfo.jsp</jsp-file>
	</servlet>
		<servlet>
		<servlet-name>conflictMessages</servlet-name>
		<jsp-file>/conflictMessages.jsp</jsp-file>
	</servlet>
		<servlet-mapping>
		<servlet-name>conflictMessages</servlet-name>
		<url-pattern>/conflictMessages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>collabInfo</servlet-name>
		<url-pattern>/collabInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userDetails</servlet-name>
		<url-pattern>/userDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EchoServlet</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeRegisterProjectServlet</servlet-name>
		<url-pattern>/DeRegisterProjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getCollaboratorDetails</servlet-name>
		<url-pattern>/getCollaboratorDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitiateCollabHub</servlet-name>
		<url-pattern>/InitiateCollabHub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConflictMessagesServlet</servlet-name>
		<url-pattern>/ConflictMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterProjectServlet</servlet-name>
		<url-pattern>/RegisterProjectServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CompareGraphsServlet</servlet-name>
		<url-pattern>/CompareGraphsServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CreateDependencyGraphServlet</servlet-name>
		<url-pattern>/CreateDependencyGraphServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartCollaborationServlet</servlet-name>
		<url-pattern>/StartCollaborationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopCollaborationServlet</servlet-name>
		<url-pattern>/StopCollaborationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserActivityServlet</servlet-name>
		<url-pattern>/UserActivityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserArtifactGraphServlet</servlet-name>
		<url-pattern>/UserArtifactGraphServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserArtifactGraphSimulatorServlet</servlet-name>
		<url-pattern>/UserArtifactGraphSimulatorServlet</url-pattern>
	</servlet-mapping>
	
	   <security-constraint>
      <display-name>UserArtifactGraphServlet</display-name>
      <web-resource-collection>
         <web-resource-name>UserArtifactGraphServlet</web-resource-name>
	 <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/UserArtifactGraphServlet</url-pattern>
	 <!-- If you list http methods, only those methods are protected -->
         <http-method>GET</http-method>
         <http-method>POST</http-method>
      </web-resource-collection>
    </security-constraint>
</web-app>
